@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;900&display=swap");

/*
font-family: 'Overpass', sans-serif;
*/

/* ----------------------------------------------------------------
SCSS functions
---------- ---------------------------*/

// HEX to RGB
@function opacity($percentage) {
  @return $percentage * 0.01;
}

// HEX to RGB
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

// darken
@function darken($variable, $opacity) {
  @return unquote(
    "linear-gradient(to top,rgba(0, 0, 0," + $opacity + "),rgba(0, 0, 0," +
      $opacity + "))" + $variable
  );
}
// lighten
@function lighten($variable, $opacity) {
  @return unquote(
    "linear-gradient(to top,rgba(255, 255, 255," + $opacity +
      "),rgba(255, 255, 255," + $opacity + ")) " + $variable
  );
}
:root {
  --primary-color: #057bfe;
  --primary-rgb: #{hexToRGB(#057bfe)};

  --theme-color-1: #ffd200;
  --theme-color-2: #f28f8f;
  --theme-color-3: #afaaf7;
  --theme-color-4: #83dde1;

  --page-bg-color: #f0f3f6;
  --widget-bg-color: #ffffff;

  --fontColor: #252d36;

  --white: #fff;
  --black: #000;

  --gray: #ecf0f6;
  --gray-01: #898989;
  --gray-02: #ebedf4;

  --red: #fe4b4b;
  --green: #0dce82;
  --orange: #f19d38;

  --icon-font: "ocr-inc";
  --primary-font: "Overpass", sans-serif;

  .theme-dark {
    --primary-color: #057bfe;
    --primary-rgb: #{hexToRGB(#057bfe)};

    --theme-color-1: #ffd200;
    --theme-color-2: #f28f8f;
    --theme-color-3: #afaaf7;
    --theme-color-4: #83dde1;

    --page-bg-color: #1a1c33;
    --widget-bg-color: #272d47;

    --fontColor: #d5dae2;

    --theme-color-1: #ffd200;
    --theme-color-2: #f28f8f;
    --theme-color-3: #afaaf7;
    --theme-color-4: #83dde1;
  }
}

/* -------------------------------------
	Mixins
------------------------------------- */
@mixin rounded-corners($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

@mixin box-shadow($property) {
  box-shadow: $property;
  -moz-box-shadow: $property;
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  -o-box-shadow: $property;
}

@mixin transition($property) {
  transition: $property;
  -moz-transition: $property;
  -webkit-transition: $property;
  -o-transition: $property;
  -ms-transition: $property;
}

@mixin transform($property) {
  transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
}

@mixin gradient-1 {
  background: rgb(44, 80, 142);
  background: -moz-linear-gradient(
    45deg,
    rgba(44, 80, 142, 1) 0%,
    rgba(41, 112, 178, 1) 37%,
    rgba(30, 242, 248, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(44, 80, 142, 1) 0%,
    rgba(41, 112, 178, 1) 37%,
    rgba(30, 242, 248, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(44, 80, 142, 1) 0%,
    rgba(41, 112, 178, 1) 37%,
    rgba(30, 242, 248, 1) 100%
  );
}

@mixin gradient-2 {
  background: rgb(215, 28, 88);
  background: -moz-linear-gradient(
    45deg,
    rgba(215, 28, 88, 1) 0%,
    rgba(227, 83, 76, 1) 40%,
    rgba(241, 137, 65, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(215, 28, 88, 1) 0%,
    rgba(227, 83, 76, 1) 40%,
    rgba(241, 137, 65, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(215, 28, 88, 1) 0%,
    rgba(227, 83, 76, 1) 40%,
    rgba(241, 137, 65, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71c58', endColorstr='#f18941',GradientType=1 );
}
