/* -------------------------------------
	Component :: Header
------------------------------------- */
.c-header {
  background-color: var(--widget-bg-color);
  box-sizing: border-box;
  display: block;
  top: 38px;
  left: 0;
  padding: 0 24px;
  position: fixed;
  height: 74px;
  width: 100%;
  z-index: 10;
  @include transition(all ease 0.3s);
  @include box-shadow(-2px 4px 5px rgba(0, 0, 0, 0.01));

  .hs_left {
    padding: 22px 0;
  }

  .headerSect_logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
    .headerLogo {
      display: block;
      outline: none;
      border: 0;
      cursor: pointer;

      img {
        position: relative;
        display: block;
        max-height: 30px;
        top: 1px;
      }
    }
  }
  .headerSect_l {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: middle;
    top: -1px;
    .c-pageTitle {
      display: inline-block;
      color: var(--gray-01);
      display: block;
      font-size: 14px;
      font-weight: 900;
      line-height: 14px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      margin: 0;
    }
  }
  .profileSetting {
    .profileBtn {
      background-color: var(--gray-01);
      box-sizing: border-box;
      border: 0;
      display: block;
      height: 41px;
      padding: 0 0 0 41px;
      margin: 0;
      position: relative;
      outline: none;
      @include rounded-corners(50%);
      &::after {
        display: none;
      }
      .icon {
        color: var(--white);
        position: absolute;
        top: 7px;
        left: 1px;
        height: 38px;
        width: 38px;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .dropdown-menu {
      min-width: 250px;
      left: 0 !important;
      top: 30px !important;
      @include box-shadow(-2px 4px 5px rgba(0, 0, 0, 0.15));
      @include rounded-corners(6px);
    }
  }

  .headerSettings {
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      li {
        border-left: 1px solid #f0f3f6;
        display: inline-block;
        vertical-align: top;
        padding: 21px 20px;
        float: left;
        &:last-child {
          padding-right: 0;
        }
        &:first-child {
          border: 0;
        }
        &.userProf {
          padding: 17px 0 16px 20px;
        }
        &.countryFlag {
          .flagBtn {
            background: transparent;
            border: 0;
            height: 32px;
            padding: 0;
            outline: none;
            &::after {
              position: relative;
              top: 1px;
              color: #252d36;
              font-family: "ocr-inc";
              content: "\61";
              font-size: 14px;
              line-height: 16px;
              border: 0;
              vertical-align: middle;
            }
            .flag {
              display: inline-block;
              height: 30px;
            }
            .country {
              font-size: 13px;
              line-height: 13px;
              font-weight: 600;
              display: inline-block;
              margin-left: 2px;
              position: relative;
              top: 1px;
            }
          }
        }
        &.themeSwitch {
          .c-switch {
            top: 4px;
          }
        }
      }
    }
  }

  .notifySetting {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 32px;
    .profileBtn {
      background-color: transparent;
      box-sizing: border-box;
      border: 0;
      display: block;
      height: 32px;
      width: 32px;
      margin: 0;
      padding: 3px;
      position: relative;
      outline: none;
      &.lg {
        padding: 3px 5px 5px;
        .icon {
          font-size: 28px;
          line-height: 28px;
        }
      }
      .icon {
        display: inline-block;
        color: var(--fontColor);
        font-size: 22px;
        line-height: 22px;
        position: relative;
        top: 4px;
      }
      .count {
        position: absolute;
        top: 2px;
        right: 1px;
        display: block;
        padding: 0;
        background: var(--primary-color);
        font-size: 10px;
        font-weight: 500;
        color: var(--white);
        height: 15px;
        width: 15px;
        text-align: center;
        line-height: normal;
        @include rounded-corners(10px);
      }
      &::after {
        display: none;
      }
    }
  }
  .dropdown-menu {
    border: 0;
    min-width: 300px;
    left: 0 !important;
    top: 30px !important;
    right: auto !important;
    transform: translate3d(-240px, 35px, 0px) !important;
    @include box-shadow(-2px 4px 5px rgba(0, 0, 0, 0.1));
    @include rounded-corners(10px);
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 35px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--white);
    }
    &.flagListDD {
      padding: 12px 0 !important;
      transform: translate3d(-210px, 35px, 0px) !important;
    }
    &.userDD {
      padding: 12px 0 !important;
      transform: translate3d(-190px, 35px, 0px) !important;
    }
    .flagSearchHeader {
      padding: 0 12px;
      display: block;
      position: relative;
      margin-bottom: 10px;
      .searchTxt {
        box-sizing: border-box;
        border: 1px solid #f0f3f6;
        background-color: #f8f9fa;
        display: block;
        position: relative;
        height: 40px;
        padding: 0 15px 0 45px;
        @include rounded-corners(50px);
        .icon {
          display: inline-block;
          position: absolute;
          top: 11px;
          left: 15px;
          height: 18px;
          width: 18px;
          font-size: 16px;
          line-height: 16px;
          color: var(--gray-01);
        }
        .txtBox {
          background-color: transparent;
          border: 0;
          box-sizing: border-box;
          padding: 9px 0 8px;
          width: 100%;
          font-size: 14px;
          outline: none !important;
        }
      }
    }
    .flagSearchBody {
      display: block;
      position: relative;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        float: none;
        li {
          border: 0;
          display: block;
          padding: 0;
          float: none;
          .selectBtn {
            background-color: transparent;
            box-sizing: border-box;
            border: 0;
            display: block;
            padding: 0 27px;
            outline: none;
            text-align: left;
            width: 100%;
            .flagInfo {
              box-sizing: border-box;
              display: block;
              height: 48px;
              padding: 12px 0 12px 50px;
              border-bottom: 1px solid var(--gray-02);
              position: relative;
              .flag {
                position: absolute;
                display: inline-block;
                height: 24px;
                width: 34px;
                top: 11px;
                left: 0;
              }
              .country {
                color: var(--fontColor);
                display: block;
                font-size: 13px;
                font-weight: 700;
                line-height: 15px;
                text-transform: uppercase;
                position: relative;
                top: 4px;
                @include transition(all ease 0.3s);
              }
            }
            &:hover {
              background-color: RGBA(var(--primary-rgb), 0.1);
              .flagInfo {
                .country {
                  color: var(--primary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

.c-notifyDropdown {
  padding: 0 0 20px 0 !important;

  .notifyHeading {
    display: block;
    margin-bottom: 5px;
    color: var(--fontColor);
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding: 10px 15px;
  }
  .notifyBody {
    position: relative;
    max-height: 450px;
  }
  .c-notify {
    padding: 0 !important;
    @include transition(all ease 0.3s);
    &:hover {
      background: lighten(var(--theme-color-1), opacity(37));
    }
    .dropdown-notification-item {
      padding: 10px 15px 10px 50px;
      text-decoration: none;
      color: #212837;
      border-top: 1px solid lighten(var(--gray-01), opacity(10));
      border-bottom: 1px solid lighten(var(--gray-01), opacity(10));
      display: block;
      position: relative;
      margin-top: -1px;
      .dropdown-notification-icon {
        position: absolute;
        top: 10px;
        left: 20px;
        background-color: var(--theme-color-1);
        width: 24px;
        height: 24px;
        text-align: center;
        @include rounded-corners(40px);
        .icon {
          color: var(--white);
          font-size: 14px;
          line-height: 14px;
          display: inline-block;
          position: relative;
          top: 5px;
        }
      }
      .dropdown-notification-info {
        display: block;
        margin-left: 15px;
        .title {
          display: block;
          color: var(--fontColor);
          font-size: 13px;
          font-weight: 600;
          line-height: 18px;
          margin-bottom: 2px;
          white-space: normal;
        }
        .time {
          display: block;
          color: lighten(var(--gray-01), opacity(10));
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          white-space: normal;
        }
      }
    }
  }
}

/* --- For Dark theme --- */
#{$darkTheme} {
  .c-header {
    border-bottom: 1px solid #2f344d;
    .profileSetting {
      .profileBtn {
        background-color: var(--page-bg-color);
        .icon {
          color: var(--fontColor);
        }
      }
    }

    .headerSettings {
      ul {
        li {
          border-left: 1px solid #2f344d;
          &:first-child {
            border: 0;
          }
          &.countryFlag {
            .flagBtn {
              &::after {
                color: var(--fontColor);
              }
              .country {
                color: var(--fontColor);
              }
            }
          }
        }
      }
    }

    .dropdown-menu {
      border: 1px solid #22243d;
      background-color: var(--page-bg-color);
      &::before {
        border-bottom: 10px solid #22243d;
      }
      .flagSearchHeader {
        .searchTxt {
          border: 1px solid var(--widget-bg-color);
          background-color: #272d47;
          .txtBox,
          .icon {
            color: var(--fontColor);
          }
        }
      }
      .flagSearchBody {
        ul {
          li {
            .selectBtn {
              .flagInfo {
                border-bottom: 1px solid #22243d;
              }
              &:hover {
                background-color: #22243d;
                .flagInfo {
                  .country {
                    color: var(--primary-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .c-notifyDropdown {
    .c-notify {
      &:hover {
        background: #22243d;
      }
      .dropdown-notification-item {
        color: var(--fontColor);
        border-top: #22243d;
        border-bottom: #22243d;
        .dropdown-notification-icon {
          background-color: var(--widget-bg-color);
          .icon {
            color: var(--fontColor);
          }
        }
      }
    }
  }
}

/* -------------------------------------
	Component :: Sidebar
------------------------------------- */
.c-sidebar {
  background-color: var(--widget-bg-color);
  display: block;
  top: 74px;
  left: 0;
  position: fixed;
  height: 100%;
  width: 74px;
  z-index: 2;
  @include transition(all ease 0.25s);
  @include box-shadow(-2px 4px 5px rgba(0, 0, 0, 0.1));

  .c-pageNav {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 0;
    height: 100%;
    ul {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        margin-bottom: 15px;
        .navLink {
          background-color: transparent;
          box-sizing: border-box;
          border: 0;
          color: #999;
          display: block;
          height: 54px;
          outline: none;
          position: relative;
          padding: 16px 0 16px 66px;
          text-align: left;
          font-size: 15px;
          @include transition(all ease 0.3s);
          &::before {
            background-color: transparent;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            @include transition(all ease 0.3s);
          }
          &:hover {
            background-color: RGBA(var(--primary-rgb), 0.1);
            &::before {
              background-color: var(--primary-color);
            }
            .linkText,
            .icon {
              color: var(--primary-color);
            }
          }
          &.active {
            background-color: RGBA(var(--primary-rgb), 0.1);
            color: var(--primary-color);
            .linkText,
            .icon {
              color: var(--primary-color);
            }
            &::before {
              background-color: var(--primary-color);
            }
          }
          .linkText {
            color: var(--fontColor);
            position: relative;
            display: inline-block;
            font-size: 15px;
            line-height: normal;
            vertical-align: middle;
            font-weight: 600;
            padding: 1px 0;
            opacity: 0;
            animation: hideMenu 0.01s ease-in forwards;
          }
          .icon {
            color: var(--fontColor);
            position: absolute;
            top: 16px;
            left: 26px;
            height: 22px;
            width: 22px;
            font-size: 22px;
            line-height: 22px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-weight: 600;
            @include transition(all ease 0.3s);
          }
        }
      }
    }
  }
}

.js-sidebarOpen {
  .c-sidebar {
    width: 230px;
    .c-pageNav {
      .navLink {
        .linkText {
          animation: showMenu 0.5s ease-in forwards;
        }
      }
    }
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hideMenu {
  from {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* --- For Dark theme --- */
#{$darkTheme} {
  .c-sidebar {
    .c-pageNav {
      ul {
        li {
          .navLink {
            color: var(--fontColor);
            &:hover,
            &.active {
              background-color: var(--component-bg-color);
              &::before {
                background-color: var(--primary-color);
              }
            }
            .linkText,
            .icon {
              color: var(--fontColor);
            }
          }
        }
      }
    }
  }
}

/* -------------------------------------
	Component :: Data Container
------------------------------------- */

.c-dataContainer {
  background: var(--widget-bg-color);
  box-sizing: border-box;
  padding: 12px 24px 24px;
  min-height: 360px;
  margin-bottom: 25px;
  @include rounded-corners(10px);
  @include box-shadow(-2px 4px 13px rgba(0, 0, 0, 0.03));
  &.type-01 {
    padding: 24px;
  }
}

.c-chartBlockhead {
  display: block;
  position: relative;
  padding-right: 70px;
  margin-bottom: 10px;
  height: 32px;
  .heading {
    color: var(--fontColor);
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .settings {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    min-width: 32px;
    .btnSetting {
      background-color: #f8f8f8;
      box-sizing: border-box;
      border: 0;
      display: block;
      height: 32px;
      width: 32px;
      float: left;
      padding: 9px;
      margin-left: 3px;
      outline: none;
      @include rounded-corners(30px);
      .icon {
        color: #d3d3d3;
        display: inline-block;
        height: 14px;
        width: 14px;
        line-height: 14px;
        font-size: 14px;
        position: relative;
        top: -1px;
      }
    }
  }
}

/* --- For Dark theme --- */
#{$darkTheme} {
  .c-chartBlockhead {
    .settings {
      .btnSetting {
        background-color: #2f3655;
        .icon {
          color: #585e77;
        }
      }
    }
  }
}

/* -------------------------------------
	Component :: Pie chart card
------------------------------------- */
.c-chartCard {
  background: var(--widget-bg-color);
  box-sizing: border-box;
  padding: 12px 24px 24px;
  min-height: 160px;
  margin-bottom: 25px;
  @include rounded-corners(10px);
  @include box-shadow(-2px 4px 13px rgba(0, 0, 0, 0.03));
  .c_body {
    box-sizing: border-box;
    position: relative;
    padding: 0 0 0 95px;
    min-height: 85px;
    .c_graph {
      height: 85px;
      width: 85px;
      top: -2px;
      left: 0;
      position: absolute;
      &.test {
        box-sizing: border-box;
        border: 8px solid #ccc;
        @include rounded-corners(50%);
        &.c1 {
          border-color: var(--theme-color-1);
        }
        &.c2 {
          border-color: var(--theme-color-2);
        }
        &.c3 {
          border-color: var(--theme-color-3);
        }
        &.c4 {
          border-color: var(--theme-color-4);
        }
      }
      img {
        height: 85px;
        width: 85px;
      }
    }
    .c_count {
      color: var(--fontColor);
      display: block;
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;
      padding: 15px 0 8px;
      letter-spacing: -2px;
      text-transform: uppercase;
      text-align: right;
    }
    .c_footer {
      color: var(--fontColor-light);
      display: block;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      text-align: right;
    }
  }
}

.c-chartContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 18px 24px 24px;
  .c_body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 14px;
    .graphBlock {
      height: 242px;
      display: block;
      flex: 1 0 auto;
      .graphImg {
        width: 100%;
      }
    }
    .graphFooter {
      color: var(--gray-01);
      display: block;
      margin-top: 24px;
      text-align: right;
      flex-shrink: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
  }
}

/* -------------------------------------
	Component :: Tables
------------------------------------- */
.c-tableWrapper {
  display: block;
  position: relative;

  .c-table {
    margin: 0;
    table {
      margin: 0;
      width: 100% !important;
      &.no-footer {
        border-bottom: 0 !important;
      }
    }
    th {
      border: 0;
      border-bottom: 2px solid var(--gray-02);
      border-top: 1px solid var(--gray-02);
      background-color: #f7f7f7;
      color: var(--fontColor);
      font-size: 12px;
      font-weight: 700;
      line-height: 16px !important;
      min-height: 48px;
      padding: 18px 20px 14px 14px;
      text-transform: uppercase;
      vertical-align: middle;
      &.sorting,
      &.sorting_desc,
      &.sorting_asc {
        background-image: none;
        position: relative;
        &::before {
          color: var(--fontColor);
          position: absolute;
          top: 50%;
          right: 10px;
          height: 15px;
          width: 12px;
          font-family: "ocr-inc";
          content: "4";
          font-size: 14px;
          margin-top: -7px;
        }
      }
      &.sorting_desc {
        &::before {
          content: "3";
        }
      }
      &.sorting_asc {
        &::before {
          content: "2";
        }
      }
    }
    tbody {
      tr {
        .childTableTd {
          td {
            background-color: var(--gray-01);
          }
        }
        &:nth-child(even) {
          td {
            background-color: RGBA(var(--primary-rgb), 0.03);
          }
        }
      }
    }
    tr {
      td {
        border-bottom: 1px solid var(--gray-02);
        border-top: 0;
        box-sizing: border-box;
        color: var(--gray-01);
        padding: 10px 12px;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;

        .c-form {
          margin: 0;
        }
        &.selectable {
          .c-chkBox {
            left: -2px;
          }
        }
      }
    }

    .dataTables_scrollBody,
    .DTFC_LeftBodyLiner {
      tr {
        th {
          &.sorting,
          &.sorting_desc,
          &.sorting_asc,
          &.no-sort {
            &::before {
              content: "";
              display: none;
            }
          }
        }
      }
    }
    .DTFC_LeftHeadWrapper {
      .no-sort {
        &::before {
          content: "";
          display: none !important;
        }
      }
    }
    .childTableTd {
      margin: -11px !important;
      width: calc(100% + 20px) !important;
      tr {
        background: lighten(var(--gray-02), opacity(3));
        &:last-child {
          td {
            border-bottom: 0 !important;
          }
        }
      }
    }

    &.bordered {
      .table {
        tr {
          th {
            border-bottom: 0;
            border-top: 1px solid var(--gray-02) !important;
            border-right: 1px solid var(--gray-02) !important;
            &:first-child {
              border-left: 1px solid var(--gray-02) !important;
            }
          }
          td {
            border-top: 0;
            border-bottom: 1px solid var(--gray-02) !important;
            border-right: 1px solid var(--gray-02) !important;
            &:first-child {
              border-left: 1px solid var(--gray-02) !important;
            }
          }
        }
      }
    }
  }

  .c-tableFooter {
    border-top: 1px solid var(--gray-02);
    padding: 30px 26px 6px;
    .c-settingList {
      li {
        margin-bottom: 0;
        vertical-align: middle;
        .selectedCount {
          color: var(--gray-01);
          display: block;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.1px;
          margin: 7px 0 0 0;
        }
      }
    }
    .c-tabPagination {
      display: inline-block;
      position: relative;
      margin: 4px 15px 0 0;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          float: left;
          &:last-child {
            margin-left: 15px;
          }
          &:first-child {
            margin-right: 15px;
          }
          .pageBtn {
            background-color: var(--white);
            border: 1px solid var(--gray-02);
            display: block;
            height: 32px;
            width: 32px;
            padding: 4px;
            outline: none;
            @include rounded-corners(8px);
            .icon {
              display: inline-block;
              vertical-align: middle;
              color: var(--gray-01);
              font-size: 20px;
              line-height: 20px;
            }
          }
          .pageNumer {
            background-color: var(--white);
            border: 0;
            color: var(--gray-01);
            display: block;
            height: 32px;
            width: 32px;
            padding: 4px 7px;
            font-size: 14px;
            font-weight: 500;
            line-height: 23px;
            outline: none;
            @include rounded-corners(0);
            &.active {
              color: var(--primary-color);
              font-weight: 600;
            }
          }
        }
      }
    }
    .dataTables_paginate {
      display: inline-block;
      padding: 0;
      float: none;
      .paginate_button {
        box-sizing: border-box;
        border: 1px solid var(--gray-02);
        background-image: none;
        color: var(--gray-01) !important;
        background-color: var(--white);
        display: inline-block;
        height: 32px;
        width: 32px;
        padding: 4px 7px;
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;
        margin: 0 2px;
        outline: none;
        @include rounded-corners(6px);

        &.current {
          border: 1px solid var(--primary-color);
          background: none;
          background-color: var(--primary-color);
          color: var(--white) !important;
          font-weight: 600;
        }
        &:hover {
          background-image: none;
        }

        &.next,
        &.previous {
          border: 1px solid var(--gray-02);
          padding: 10px 15px 8px;
          width: auto;
          height: auto;
          margin-left: 15px;
          font-size: 13px;
          line-height: 14px;
          @include rounded-corners(8px);
          .icon {
            display: inline-block;
            vertical-align: middle;
            color: var(--gray-01);
            font-size: 14px;
            line-height: 14px;
            position: relative;
            top: -1px;
          }
        }
        &.previous {
          margin-right: 15px;
          margin-left: 0;
        }
      }
    }
    .dataTables_length {
      float: none;
      display: inline-block;
      margin-left: 20px;
      label {
        font-size: 13px;
        font-weight: 500;
        color: var(--gray-01);
        margin-bottom: 0;
      }
      select {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid var(--gray-02);
        height: 32px;
        padding: 5px;
        @include rounded-corners(6px);
      }
    }
    .dataTables_info {
      font-size: 13px;
      font-weight: 500;
      color: var(--gray-01);
    }
  }
  .fileBtn {
    color: var(--gray-01);
    background-color: transparent;
    display: inline-block;
    padding: 0;
    border: 0;
    outline: none !important;
    font-size: 13px;
    line-height: 13px;
    text-decoration: underline;
  }
}

/* Error notifications in table */
.notifyTag {
  background-color: rgba(40, 79, 152, 0.1);
  border: 1px solid transparent;
  color: var(--primary-color);
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  padding: 7px 15px;
  @include rounded-corners(5px);
  &.approved {
    border: 1px solid var(--green);
    background: lighten(var(--green), opacity(90));
    color: var(--green);
  }
  &.rejected {
    border: 1px solid var(--red);
    background: lighten(var(--red), opacity(90));
    color: var(--red);
  }
}

/* --- For Dark theme --- */
#{$darkTheme} {
  .c-tableWrapper {
    .c-table {
      th {
        border-color: #2f344d;
        background-color: #232741;
        color: var(--fontColor-light);
      }
      tbody {
        tr {
          .childTableTd {
            td {
              background-color: var(--page-bg-color) !important;
            }
          }
          &:nth-child(even) {
            td {
              background-color: var(--widget-bg-color);
            }
          }
        }
      }
      tr {
        td {
          border-color: #2f344d;
          background-color: var(--widget-bg-color);
          color: var(--fontColor-light);
        }
      }

      &.bordered {
        .table {
          tr {
            th {
              border-bottom: 0;
              border-top: 1px solid var(--page-bg-color) !important;
              border-right: 1px solid var(--page-bg-color) !important;
              &:first-child {
                border-left: 1px solid var(--page-bg-color) !important;
              }
            }
            td {
              border-top: 0;
              border-bottom: 1px solid var(--page-bg-color) !important;
              border-right: 1px solid var(--page-bg-color) !important;
              &:first-child {
                border-left: 1px solid var(--page-bg-color) !important;
              }
            }
          }
        }
      }
    }

    .c-tableFooter {
      border-top: 1px solid #3d425d;
      .c-settingList {
        li {
          .selectedCount {
            color: var(--fontColor);
          }
        }
      }
      .c-tabPagination {
        ul {
          li {
            .pageBtn {
              background-color: var(--widget-bg-color);
              border: 1px solid #3d425d;
              .icon {
                color: var(--fontColor);
              }
            }
            .pageNumer {
              background-color: var(--white);
              color: var(--gray-01);
              &.active {
                color: var(--primary-color);
              }
            }
          }
        }
      }
      .dataTables_paginate {
        .paginate_button {
          border-color: #3d425d;
          color: var(--fontColor);
          background-color: #272d47;

          &.current {
            border: 1px solid #3d425d;
            background-color: var(--component-bg-color);
            color: var(--fontColor) !important;
          }

          &.next,
          &.previous {
            border: 1px solid #3d425d;
            .icon {
              color: var(--fontColor);
            }
          }
        }
      }
      .dataTables_length {
        select {
          color: var(--fontColor);
          background: #272d47;
          border: 1px solid #3d425d;
        }
      }
    }
  }
  .notifyTag {
    color: var(--white);
    &.approved {
      border: 1px solid #4fc590;
      background: #4fc590;
    }
    &.rejected {
      border: 1px solid #d57171;
      background: #d57171;
    }
  }

  .fileBtn {
    color: var(--fontColor-light);
  }
}

/* -------------------------------------
	Component :: Tabs
------------------------------------- */
.c-tabs {
  .nav-tabs {
    background-color: var(--widget-bg-color);
    border: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    @include rounded-corners(10px);
    .nav-item {
      background-color: var(--widget-bg-color);
      display: inline-block;
      position: relative;
      float: left;
      margin: 0;
      @include rounded-corners(10px);
      &::after {
        background: var(--page-bg-color);
        position: absolute;
        top: 16px;
        content: "";
        right: 0;
        height: 20px;
        width: 1px;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      .nav-link {
        border: 0 !important;
        color: var(--gray-01);
        display: block;
        padding: 16px 20px;
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        @include rounded-corners(10px);
        &.active {
          background-color: var(--widget-bg-color);
          color: var(--fontColor);
          &::before {
            background: var(--primary-color);
            position: absolute;
            bottom: 0;
            content: "";
            left: 20px;
            height: 2px;
            width: calc(100% - 40px);
          }
        }
      }
    }
  }
  .tab-content {
    padding: 20px 0;
  }
}

/* -------------------------------------
	Component :: Form Fields
------------------------------------- */
/* ----- Text Box ----- */
.c-form {
  display: block;
  position: relative;
  margin-bottom: 20px;
  .formLbl {
    color: var(--fontColor);
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
    @include transition(all ease 0.3s);
    strong {
      font-weight: 700;
    }
  }
  .form-control {
    background-color: transparent;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    color: var(--fontColor);
    display: block;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: normal;
    height: 44px;
    padding: 10px 20px 10px;
    @include rounded-corners(6px);
    @include box-shadow(-2px 4px 10px rgba(0, 0, 0, 0.03));
    &::placeholder {
      color: #898989;
    }
    &.textarea {
      height: 101px;
      resize: none;
    }
  }

  &.c-dateRangePicker,
  &.c-dtPicker,
  &.c-timePicker {
    .dtPickWrapper {
      position: relative;
      box-sizing: border-box;
      display: block;
      .form-control {
        padding-right: 40px;
      }
      &::after {
        position: absolute;
        top: 14px;
        right: 10px;
        height: 15px;
        width: 20px;
        color: var(--fontColor);
        font-family: "ocr-inc";
        content: "\51";
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
  &.c-timePicker {
    .dtPickWrapper {
      &::after {
        font-family: "ocr-inc";
        content: "\54";
      }
    }
  }

  &.c-error {
    .form-control {
      border-color: var(--red) !important;
    }
    .errorMsg {
      color: var(--red) !important;
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 3px;
    }
  }
}

#{$darkTheme} {
  .c-form {
    .form-control {
      background-color: var(--component-bg-color);
      border: 1px solid #2f344d;
    }
  }
}

/* ----- Dropdown - Bootstrap ----- */
.c-dropdown {
  display: block;
  position: relative;
  .dropdown-item {
    color: var(--fontColor);
    display: block;
    padding: 7px 0;
    font-size: 14px;
    line-height: 19px;
    @include rounded-corners(0);
    &:active {
      border: 0;
      outline: none;
      background-color: transparent;
    }
    &:hover {
      background-color: RGBA(var(--primary-rgb), 0.1);
    }
  }
  .btn-dd {
    background-color: var(--white);
    border: 0;
    box-sizing: border-box;
    display: block;
    height: 38px;
    padding: 7px 20px 7px 38px;
    position: relative;
    outline: none;
    @include rounded-corners(10px);
    .icon {
      display: block;
      position: absolute;
      left: 7px;
      top: 5px;
      color: #676c7a;
      font-size: 28px;
      line-height: 17px;
    }
    &::before {
      color: #676c7a;
      display: block;
      position: absolute;
      right: 5px;
      top: 13px;
      font-size: 14px;
      line-height: 14px;
      font-family: "ocr-inc";
      content: "D";
    }
    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    &.st-clean {
      padding: 20px 0;
      .dropdown-item {
        color: var(--fontColor);
        padding: 4px 20px;
        position: relative;
        @include transition(all ease 0.2s);
        &:hover {
          background-color: RGBA(var(--primary-rgb), 0.1);
        }
      }
    }
    &.with-icon {
      .dropdown-item {
        padding: 6px 20px 6px 40px;
        .icon {
          color: var(--fontColor);
          position: absolute;
          top: 7px;
          left: 15px;
          height: 16px;
          width: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

/* ------ Dropdown - select 2 ----- */
.c-customDropdown {
  .select2-container {
    &.select2-container--open {
      .select2-selection {
        @include rounded-corners(6px);
        @include box-shadow(-2px 4px 10px rgba(0, 0, 0, 0.03));
      }
    }
  }

  .select2-selection {
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    height: 44px;
    font-size: 15px;
    line-height: 22px;
    padding: 12px 30px 9px 20px;
    text-align: left;
    position: relative;
    width: 100%;
    outline: none;
    @include transition(all ease 0.3s);
    @include box-shadow(-2px 4px 10px rgba(0, 0, 0, 0.03));

    .select2-selection__arrow {
      top: 9px;
      right: 11px;
      b {
        border-color: var(--fontColor) transparent transparent transparent;
      }
    }
    .select2-selection__rendered {
      color: var(--fontColor);
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      padding: 0;
    }
  }
}

#{$darkTheme} {
  .c-customDropdown {
    .select2-selection {
      background-color: var(--component-bg-color);
      border: 1px solid #2f344d;
      .select2-selection__rendered {
        color: var(--fontColor);
      }
    }
  }
}

/* --- Multi Select --- */
.select2-container {
  display: block;
  box-sizing: border-box;
  width: 100% !important;
  .select2-search {
    padding: 15px;
    .select2-search__field {
      border: 1px solid #f0f3f6;
      background-color: #f8f9fa;
      box-sizing: border-box;
      color: var(--fontColor);
      display: block;
      position: relative;
      height: 40px;
      padding: 11px 20px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: normal;
      outline: none;
      width: 100%;
      @include rounded-corners(50px);
    }
  }
  .select2-results {
    max-height: 400px;
    .select2-results__options {
      @include transition(all ease 0.3s);
      .select2-results__option {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
        margin-bottom: 4px;
        &.select2-results__option--highlighted,
        &.select2-results__option--selected {
          color: var(--fontColor);
          background-color: RGBA(var(--primary-rgb), 0.05);
        }
      }
    }
  }

  .select2-selection--multiple {
    border: 1px solid #e1e2e7;
    box-sizing: border-box;
    letter-spacing: normal;
    height: 44px;
    padding: 6px 10px;
    .select2-selection__choice {
      border: 0;
      background-color: rgba(40, 79, 152, 0.1);
      display: inline-block;
      margin: 0 10px 0 0;
      height: 26px;
      padding: 4px 10px;
      position: relative;
      top: 1px;
      box-sizing: border-box;
      @include rounded-corners(5px);
      .select2-selection__choice__display {
        float: left;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: #284f98;
      }
      .select2-selection__choice__remove {
        border: 0;
        display: inline-block;
        height: 12px;
        font-size: 16px;
        width: 12px;
        margin-left: 7px;
      }
    }
  }
  &.select2-container--focus {
    .select2-selection--multiple {
      border: 1px solid var(--primary-color);
      border-radius: 6px !important;
      @include transition(all ease 0.3s);
      @include box-shadow(0 4px 10px rgba(40, 79, 152, 0.2));
    }
  }
  .select2-dropdown--below {
    border: 1px solid var(--gray-02);
    padding: 10px 0;
    background-color: #fff;
    box-sizing: border-box;
    top: 2px !important;
    margin: 0;
    @include rounded-corners(10px);
    @include box-shadow(-2px 4px 10px rgba(0, 0, 0, 0.1));
    .select2-results__option {
      padding: 10px;
      &.select2-results__option--highlighted {
        background-color: var(--primary-color);
        color: var(--white);
      }
      &.select2-results__option--selected {
        background-color: var(--white);
        color: var(--gray-01);
      }
    }
  }
}

#{$darkTheme} {
  .select2-container {
    .select2-search {
      padding: 15px;
      .select2-search__field {
        border: 1px solid var(--widget-bg-color);
        background-color: #272d47;
        color: var(--fontColor);
      }
    }
    .select2-results {
      .select2-results__options {
        .select2-results__option {
          color: var(--fontColor) !important;
          &.select2-results__option--highlighted,
          &.select2-results__option--selected {
            background-color: #22243d;
          }
        }
      }
    }

    .select2-selection--multiple {
      border: 1px solid #e1e2e7;
      .select2-selection__choice {
        border: 0;
        background-color: rgba(40, 79, 152, 0.1);
        .select2-selection__choice__display {
          color: #284f98;
        }
      }
    }
    &.select2-container--focus {
      .select2-selection--multiple {
        border: 1px solid var(--primary-color);
      }
    }
    .select2-dropdown--below {
      border: 1px solid #2f344d;
      background-color: var(--page-bg-color);
      .select2-results__option {
        &.select2-results__option--highlighted {
          background-color: var(--primary-color);
          color: var(--white);
        }
        &.select2-results__option--selected {
          background-color: var(--white);
          color: var(--primary-color) !important;
        }
      }
    }
  }
}

/* ----- Check Box / Radio Btn ----- */
.c-chkBox,
.c-radioBox {
  display: block;
  position: relative;
  .chkLbl {
    color: var(--fontColor);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    position: relative;
    padding: 0 0 0 24px;
    margin-bottom: 10px;
    @include transition(all ease 0.2s);

    &::before {
      color: #b5b5be;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 18px;
      line-height: 16px;
      height: 16px;
      width: 16px;
      font-family: "ocr-inc";
      content: "\4e";
      z-index: 2;
      @include transition(all ease 0.2s);
    }
  }
  .chkBox {
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0;

    &:checked {
      ~ {
        .chkLbl {
          color: var(--fontColor);
          &::before {
            color: var(--primary-color) !important;
            content: "\4d";
          }
        }
      }
    }
  }
  &.c-radioBox {
    .chkLbl {
      margin-bottom: 0;
      &::before {
        content: "\21";
      }
    }
    .chkBox {
      &:checked {
        ~ {
          .chkLbl {
            &::before {
              content: "\39";
            }
          }
        }
      }
    }
  }
  &.no-label {
    display: inline-block;
    height: 16px;
    width: 16px;
    .chkLbl {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin: 0;
      position: relative;
      top: 2px;
    }
    .chkBox {
      cursor: pointer;
      position: absolute;
      top: 2px;
      left: 2px;
      opacity: 0;
      height: 16px;
      width: 16px;
      z-index: 3;
      &:checked {
        ~ {
          .chkLbl {
            color: var(--fontColor);
            &::before {
              color: var(--primary-color) !important;
              content: "\4d";
            }
          }
        }
      }
    }
  }
  &.inline {
    display: inline-block;
    margin-right: 10px;
  }
}

/* -------------------------------------
	Component :: Headings
------------------------------------- */
.c-compHeading {
  display: block;
  color: var(--fontColor);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.c-pageHeading {
  color: var(--fontColor);
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 30px;
}

.c-staticText {
  color: var(--fontColor);
  display: block;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.23px;
  margin-bottom: 16px;
  &.sm {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

/* -------------------------------------
	Component :: demo utils
------------------------------------- */
.forLight {
  display: block;
}
.forDark {
  display: none;
}

#{$darkTheme} {
  .forLight {
    display: none;
  }
  .forDark {
    display: block;
  }
}
