/* -------------------------------------
Author :: Sudhir Deolalikar
Email  :: sudhir.deo1988@gmail.com
Skype  :: sudhir.deo1988
------------------------------------- */

@import "./variables";

/* -------------------------------------
	Component :: Main Setting Header
------------------------------------- */
.c-settingHeader {
  background-color: var(--primary-color);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px 24px;
  height: 37px;
  z-index: 12;
  .c-shList {
    display: block;
    position: relative;
    ul {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0;
        margin-right: 10px;
        position: relative;

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;
        }
      }
    }
    &.type-03 {
      ul {
        li {
          margin-right: 25px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .c-shDropdown {
        .dropdown-menu {
          transform: translate3d(-200px, 31px, 0px) !important;
          -moz-transform: translate3d(-200px, 31px, 0px) !important;
          -webkit-transform: translate3d(-200px, 31px, 0px) !important;
        }
      }
    }
  }
  .sh_linkBtn {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 0;
    border: 0;
    background-color: transparent;
    vertical-align: middle;
    outline: none;
    .icon {
      display: inline-block;
      color: var(--white);
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      top: 2px;
      &.lg {
        font-size: 20px;
        line-height: 20px;
      }
      &.sm {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
  .c-shDropdown {
    .btn {
      color: var(--white);
      display: block;
      padding: 5px 20px 5px 10px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.3px;
      line-height: 12px;
      border: 0;
      &::after {
        border: 0;
        font-family: "ocr-inc";
        content: "D";
        position: absolute;
        top: 50%;
        right: 2px;
        font-size: 12px;
        line-height: 12px;
        margin-top: -6px;
      }

      &.sh_linkBtn {
        width: 45px;
        padding: 2px 15px 2px 0;
        @include box-shadow(none);
      }
    }
    &.type-02 {
      .btn {
        background-color: var(--white);
        color: var(--primary-color);
        padding: 6px 30px 6px 10px;
        &::after {
          right: 6px;
        }
      }
    }
    .dropdown-menu {
      width: 250px;
      padding: 10px 0;
      border: 0;
      z-index: 12;
      .dropdown-item-accord {
        .multi-collapse {
          .dropdown-item {
            padding-left: 40px;
            &::before {
              left: 20px;
            }
          }
        }
      }
      .dropdown-item {
        color: var(--gray-01);
        position: relative;
        padding: 6px 15px 6px 30px;
        font-size: 13px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0;
        outline: none;
        @include rounded-corners(0);
        @include transition(all ease 0.2s);

        &::before {
          color: var(--gray-01);
          content: "c";
          border: 0;
          font-family: "ocr-inc";
          position: absolute;
          top: 8px;
          left: 10px;
          font-size: 14px;
          line-height: 13px;
        }

        &.type-accord {
          &::before {
            content: "\3d";
            top: 9px;
            left: 11px;
            font-size: 12px;
            line-height: 12px;
          }
          &[aria-expanded="true"] {
            &::before {
              content: "\3e";
            }
          }
        }

        &:hover {
          background-color: var(--primary-color);
          color: var(--white);
          &::before {
            color: var(--white);
          }
        }
      }
      .dd_search {
        display: block;
        margin-bottom: 10px;
        padding: 0 10px;

        .txt_search {
          box-sizing: border-box;
          display: block;
          padding: 8px;
          width: 100%;
          border: 1px solid #ccc;
          font-size: 14px;
          line-height: 20px;
          outline: none;
          @include rounded-corners(4px);
          &::placeholder {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}

/* ---------- Static Site -------- */
@import "./static-site.scss";

/* -------------------------------------
	Component :: All updated comps
------------------------------------- */
@import "./component-styles.scss";

/* -------------------------------------
	Component :: wrapper
------------------------------------- */

// - remove setting header - add class to body
.no-settingHeader {
  .c-header {
    top: 0;
  }
  .c-sidebar {
    top: 64px;
  }
  .c-pageBody {
    padding-top: 64px;
  }
}

// - remove custom header - add class to body
.no-customHeader {
  .c-sidebar {
    top: 37px;
  }
  .c-pageBody {
    padding-top: 37px;
  }
}

.c-settingList {
  display: block;
  position: relative;
  ul {
    display: block;
    list-style: none;
    height: auto;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 15px 15px 0;
      float: left;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.right {
    ul {
      float: right;
    }
  }
}

/* -------------------------------------
  Component :: Sidebar open Settings
  'isCloseSidebar' class is used to open close sidebar
  'isCloseSidebar' class shuld be applied to 'c-pageBody' to take effect
------------------------------------- */
.noSidebar {
  .c-wrapper {
    margin: 0;
  }
}

// - For styleguide. sidebar always visible - add class to body
.visibleSidebar {
  .c-wrapper {
    margin-left: 230px;
  }
}

/* -------------------------------------
  Component :: Utility classes
------------------------------------- */
.t-45 {
  top: 45px;
}
.m0 {
  margin: 0 !important;
}
.m10 {
  margin: 10px;
}
.mb-05 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-35 {
  margin-top: 35px;
}
.mr-15 {
  margin-right: 15px;
}
.pt-10 {
  padding-top: 10px !important;
}
.p-left {
  float: left;
}
.p-right {
  float: right;
}

/* -------------------------------------
  Component :: Plugin overwrite
------------------------------------- */
.dataTable {
  thead {
    tr {
      th {
        outline: none;
        &.no-sort {
          background-image: none !important;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
.dataTables_wrapper {
  &.no-footer {
    .dataTables_scrollBody {
      border: 0 !important;
    }
  }
  .DTFC_LeftBodyWrapper,
  .DTFC_LeftHeadWrapper {
    z-index: 3 !important;
  }
}

.mCustomScrollBox {
  .mCSB_container {
    margin-right: 10px;
    .mCSB_1_scrollbar {
      width: 10px;
    }
  }
  .mCSB_scrollTools {
    width: 10px;
    .mCSB_draggerContainer {
      right: -5px;
    }
  }
}

/* -------------------------------------
	Component :: Date Range Picker
------------------------------------- */

.daterangepicker {
  background-color: var(--white);
  border-color: var(--gray-02);
  @include box-shadow(0 6px 15px rgba(196, 203, 216, 0.25));
  @include rounded-corners(10px);
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }

  .ranges {
    border-right: 1px solid #e1e2e7;
    margin-right: -1px;
    padding: 10px 0;
    ul {
      width: 160px;
    }
    li {
      display: block;
      color: var(--fontColor);
      font-size: 14px;
      font-weight: 500;
      padding: 12px;
      @include transition(all ease 0.3s);
      &.active {
        background-color: var(--primary-color);
        color: var(--white);
        &:hover {
          background-color: var(--primary-color);
        }
      }
      &:hover {
        background-color: var(--gray-02);
      }
    }
  }

  .drp-calendar {
    border: 1px solid var(--gray-02);
    max-width: none;
    padding: 0 !important;
    &.single {
      .calendar-table {
        padding-right: 0;
      }
    }
    .calendar-table {
      .table-condensed {
        th {
          border-bottom: 1px solid var(--gray-02);
          &.month {
            .monthselect,
            .yearselect {
              border: 1px solid var(--gray-02);
              padding: 5px;
              outline: none;
              color: var(--gray-01);
              font-size: 14px;
              line-height: 16px;
              font-weight: 500;
            }
          }
        }
        th,
        td {
          color: var(--gray-01);
          text-align: center;
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          padding: 12px;
        }
        td {
          &.start-date,
          &.end-date {
            background-color: var(--primary-color) !important;
            color: var(--white) !important;
            @include rounded-corners(8px);
          }
          &.in-range {
            background-color: transparent;
            color: var(--primary-color);
          }
          &.disabled {
            text-decoration: none;
            color: #676c7a;
            opacity: 0.4;
          }
        }
      }
    }
  }
}

.dummyGraph {
  display: block;
  width: 100%;
  max-height: 285px;
  &.lg {
    max-height: 550px;
  }
  &.md {
    max-height: 375px;
  }
  &.sm {
    max-height: 180px;
  }
}

.hide {
  display: none;
}

/* -------------------------------------
	Component :: Data Slider
------------------------------------- */

.c-downloadList {
  display: block;
  position: relative;
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      height: 25px;
      margin-right: 5px;
      width: 25px;
      .dl_btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        height: 25px;
        width: 25px;
        outline: none;
        &.edi {
          img {
            height: 30px;
            width: 30px;
          }
        }
        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}

.st-sidebarAlwaysOpen {
  .c-wrapper {
    margin-left: 230px;
  }
  .c-header {
    top: 0 !important;
  }
  .c-sidebar {
    width: 230px !important;
    .c-pageNav {
      .navLink {
        .linkText {
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
    }
  }
}
