<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>OCR Styleguide :: Cards</title>

    <!-- ***** CSS Import ***** -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../css/css-style.css" />
  </head>

  <body class="visibleSidebar">
    <!-- ***** Setting Header Block ***** -->
    <div class="c-settingHeader">
      <div class="clearfix">
        <div class="row no-gutters">
          <!-- *** Left Side *** -->
          <div class="col">
            <div class="c-shList type-01">
              <ul>
                <li>
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      data-trigger="hover"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Demo - US
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown type-02 js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Module Title
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Features
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Reports
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Files
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Tables
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- *** Left Side End *** -->

          <!-- *** right Side *** -->
          <div class="col">
            <div class="c-shList type-03 text-right">
              <ul>
                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-home lg"></i>
                  </button>
                </li>
                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-tachometer"></i>
                  </button>
                </li>
                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-bell-1 sm"></i>
                  </button>
                </li>
                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocr-cog sm"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocr-star sm"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon sm ocr-help-circled"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon sm ocr-book"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">Action</button>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon sm ocr-person"></i>
                    </button>
                    <div class="dropdown-menu">
                      <button
                        class="dropdown-item"
                        data-toggle="modal"
                        data-target="#exampleModal"
                      >
                        Dashboard Settings
                      </button>
                      <button class="dropdown-item">User Settings</button>
                      <button class="dropdown-item">Logout</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- *** right Side End *** -->
        </div>
      </div>
    </div>
    <!-- ***** Setting Header Block End***** -->

    <!-- ********** Page Body **********  -->
    <div class="c-pageBody">
      <!-- ********** Component :: Sidebar **********  -->
      <div class="c-sidebar">
        <div class="c-pageNav js-customScroll">
          <ul>
            <li>
              <a href="./colors.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Colour Theme</span>
              </a>
            </li>
            <li>
              <a href="./buttons.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Buttons</span>
              </a>
            </li>
            <li>
              <a href="./formFields.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Form Fields</span>
              </a>
            </li>
            <li>
              <a href="./table.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Tables</span>
              </a>
            </li>
            <li>
              <a href="./cards.html" class="navLink active">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Cards</span>
              </a>
            </li>
            <li>
              <a href="./other.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Other</span>
              </a>
            </li>
            <li>
              <a href="./graphs.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Graphs</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ********** Component :: Sidebar End **********  -->

      <!-- ********** Component :: Header **********  -->
      <div class="c-header">
        <div class="row no-gutters">
          <div class="col-9">
            <div class="headerSect_logo">
              <a href="javascript:void(0);" class="headerLogo">
                <img src="../../images/logo.png" alt="alt" />
              </a>
            </div>
            <div class="headerSect_l">
              <div class="c-pageTitle">OCR Frontend Styleguide</div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group c-form m0">
              <div class="dropdown c-dropdown js-themeChanger">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton3"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="value">Select Theme</span>
                </button>

                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton3"
                >
                  <button class="dropdown-item" value="dark">Dark</button>
                  <button class="dropdown-item" value="light">Light</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ********** Component :: Header End **********  -->

      <!-- ********** Component :: Wrapper **********  -->
      <div class="c-wrapper">
        <div class="container-fluid">
          <!-- *** First Row *** -->
          <div class="row align-items-center mb-20">
            <div class="col">
              <div class="rowHeading font-h">Cards</div>
            </div>
          </div>
          <!-- *** First Row End *** -->

          <div class="row">
            <div class="col">
              <div class="c-dCard">
                <span class="title">VM Configuration Tool</span>
                <div class="iconHolder">
                  <i class="icon ocr-user-1-1"></i>
                </div>
                <button class="c-btn">Configure</button>
              </div>

              <div class="c-dCard theme-primary">
                <span class="title">VM Configuration Tool</span>
                <div class="iconHolder">
                  <i class="icon ocr-user-1-1"></i>
                </div>
                <button class="c-btn">Configure</button>
              </div>

              <div class="c-dCard theme-secondary">
                <span class="title">VM Configuration Tool</span>
                <div class="iconHolder">
                  <i class="icon ocr-user-1-1"></i>
                </div>
                <button class="c-btn">Configure</button>
              </div>

              <div class="c-dCard theme-color-2">
                <span class="title">VM Configuration Tool</span>
                <div class="iconHolder">
                  <i class="icon ocr-user-1-1"></i>
                </div>
                <button class="c-btn">Configure</button>
              </div>

              <div class="c-dCard theme-gradient-2">
                <span class="title">VM Configuration Tool</span>
                <div class="iconHolder">
                  <i class="icon ocr-user-1-1"></i>
                </div>
                <button class="c-btn">Configure</button>
              </div>

              <div class="c-dCard theme-gradient-1">
                <span class="title">VM Configuration Tool</span>
                <div class="iconHolder">
                  <i class="icon ocr-user-1-1"></i>
                </div>
                <button class="c-btn">Configure</button>
              </div>
            </div>
          </div>

          <!-- ***** Graph Row 2 ***** -->
          <div class="row">
            <div class="col">
              <!-- ***** Dark Cards Block ***** -->
              <div class="c-grapgContainer">
                <div class="graphHeading mb-20">Dark Card</div>
                <div class="c-cardHolder">
                  <div
                    class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2"
                  >
                    <!-- ***** Card ***** -->
                    <div class="col">
                      <div class="c-dataCard">
                        <i class="c-icon ocr-pie-chart"></i>
                        <div class="c_setting">
                          <div class="c-dropdown dropdown">
                            <button
                              class="btn dropdown-toggle"
                              type="button"
                              id="dropdownMenuButton3"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="icon ocr-filter"></i>
                            </button>
                            <div
                              class="dropdown-menu"
                              aria-labelledby="dropdownMenuButton3"
                            >
                              <a class="dropdown-item" href="#">Today</a>
                              <a class="dropdown-item" href="#">Yesterday</a>
                              <a class="dropdown-item" href="#">Last Week</a>
                              <a class="dropdown-item" href="#">Last 1 month</a>
                              <a class="dropdown-item" href="#">Last 3 month</a>
                              <a class="dropdown-item" href="#">Last 6 month</a>
                              <a class="dropdown-item" href="#">Last 1 year</a>
                            </div>
                          </div>
                        </div>
                        <div class="c_body">
                          <span class="c_title">
                            PENDING INTERNAL RELEASE
                          </span>
                          <div class="c_number">
                            <a href="javascript:void(0);" class="nLink">
                              2432
                            </a>
                          </div>
                          <span class="c_sTitle">TRANSACTION PROGRESS</span>
                        </div>
                      </div>
                    </div>
                    <!-- ***** Card End ***** -->

                    <!-- ***** Card ***** -->
                    <div class="col">
                      <div class="c-dataCard theme-primary">
                        <i class="c-icon ocr-pie-chart"></i>
                        <div class="c_setting">
                          <div class="c-dropdown dropdown">
                            <button
                              class="btn dropdown-toggle"
                              type="button"
                              id="dropdownMenuButton3"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="icon ocr-filter"></i>
                            </button>
                            <div
                              class="dropdown-menu"
                              aria-labelledby="dropdownMenuButton3"
                            >
                              <a class="dropdown-item" href="#">Today</a>
                              <a class="dropdown-item" href="#">Yesterday</a>
                              <a class="dropdown-item" href="#">Last Week</a>
                              <a class="dropdown-item" href="#">Last 1 month</a>
                              <a class="dropdown-item" href="#">Last 3 month</a>
                              <a class="dropdown-item" href="#">Last 6 month</a>
                              <a class="dropdown-item" href="#">Last 1 year</a>
                            </div>
                          </div>
                        </div>
                        <div class="c_body">
                          <span class="c_title">
                            PENDING INTERNAL RELEASE
                          </span>
                          <div class="c_number">
                            <a href="javascript:void(0);" class="nLink">
                              2432
                            </a>
                          </div>
                          <span class="c_sTitle">TRANSACTION PROGRESS</span>
                        </div>
                      </div>
                    </div>
                    <!-- ***** Card End ***** -->

                    <!-- ***** Card ***** -->
                    <div class="col">
                      <div class="c-dataCard theme-color-3">
                        <i class="c-icon ocr-pie-chart"></i>
                        <div class="c_body">
                          <span class="c_title">
                            PENDING INTERNAL RELEASE
                          </span>
                          <div class="c_number">
                            <a href="javascript:void(0);" class="nLink">
                              2432
                            </a>
                          </div>
                          <span class="c_sTitle">TRANSACTION PROGRESS</span>
                        </div>
                      </div>
                    </div>
                    <!-- ***** Card End ***** -->

                    <!-- ***** Card ***** -->
                    <div class="col">
                      <div class="c-dataCard theme-color-2">
                        <i class="c-icon ocr-pie-chart"></i>
                        <div class="c_body">
                          <span class="c_title">
                            PENDING INTERNAL RELEASE
                          </span>
                          <div class="c_number">
                            <a href="javascript:void(0);" class="nLink">
                              2432
                            </a>
                          </div>
                          <span class="c_sTitle">TRANSACTION PROGRESS</span>
                        </div>
                      </div>
                    </div>
                    <!-- ***** Card End ***** -->

                    <!-- ***** Card ***** -->
                    <div class="col">
                      <div class="c-dataCard theme-gradient-1">
                        <i class="c-icon ocr-pie-chart"></i>
                        <div class="c_body">
                          <span class="c_title">
                            PENDING INTERNAL RELEASE
                          </span>
                          <div class="c_number">
                            <a href="javascript:void(0);" class="nLink">
                              2432
                            </a>
                          </div>
                          <span class="c_sTitle">TRANSACTION PROGRESS</span>
                        </div>
                      </div>
                    </div>
                    <!-- ***** Card End ***** -->

                    <!-- ***** Card ***** -->
                    <div class="col">
                      <div class="c-dataCard theme-gradient-2">
                        <i class="c-icon ocr-pie-chart"></i>
                        <div class="c_body">
                          <span class="c_title">
                            PENDING INTERNAL RELEASE
                          </span>
                          <div class="c_number">
                            <a href="javascript:void(0);" class="nLink">
                              2432
                            </a>
                          </div>
                          <span class="c_sTitle">TRANSACTION PROGRESS</span>
                        </div>
                      </div>
                    </div>
                    <!-- ***** Card End ***** -->
                  </div>
                </div>
              </div>
              <!-- ***** Dark Cards Block End***** -->
            </div>
          </div>
          <!-- ***** Graph Row 2 End ***** -->

          <!-- *** First Row *** -->
          <div class="row align-items-center mb-20">
            <div class="col">
              <div class="rowHeading font-h">Data Slider widget</div>
            </div>
          </div>
          <!-- *** First Row End *** -->
          <div class="row">
            <div class="col-4">
              <div class="c-dataSlider">
                <div class="ds_heading">
                  <div class="row align-items-center">
                    <div class="col-7">
                      <span class="graphHeading">CUSTOMS METRICS</span>
                    </div>
                    <div class="col-5">
                      <!-- setting List -->
                      <div class="c-settingList">
                        <ul>
                          <li>
                            <button class="setting">
                              <i class="icon ocr-filter-line"></i>
                            </button>
                          </li>
                          <li>
                            <button class="setting">
                              <i class="icon ocr-sync"></i>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <!-- setting List End -->
                    </div>
                  </div>
                </div>

                <div class="ds_body js-dataSlider owl-carousel owl-theme">
                  <div class="ds_item">
                    <span class="ds_title">Prior notice Examination</span>
                    <span class="ds_number"> >20 </span>
                    <span class="ds_number sm"> Days </span>
                  </div>

                  <div class="ds_item">
                    <span class="ds_title">Prior notice Examination</span>
                    <span class="ds_number"> >20 </span>
                    <span class="ds_number sm"> Days </span>
                  </div>
                </div>

                <div class="ds_footer">Period: Today</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ********** Component :: Wrapper End **********  -->
    </div>
    <!-- ********** Page Body End **********  -->

    <!-- ********** Scripts **********  -->
    <script src="../js/jquery-3.4.0.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/datatables.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script>
      $(function () {
        if (localStorage) {
          var theme = localStorage.getItem("theme");
          document.querySelector("body").classList.add("theme-" + theme);
        }
        // ----- Dropdown Settings
        $(document).on(
          "click",
          ".js-themeChanger .dropdown-menu .dropdown-item",
          function () {
            $(this)
              .parents(".js-themeChanger")
              .find(".dropdown-toggle .value")
              .text($(this).val());

            var selectedValue = $(this).val();
            var className = "theme-" + selectedValue;
            $("body").removeClass(function (index, className) {
              return (className.match(/(^|\s)theme-\S+/g) || []).join(" ");
            });
            document.querySelector("body").classList.add(className);
            if (localStorage) {
              localStorage.setItem("theme", selectedValue);
            }
          }
        );
      });
    </script>
  </body>
</html>
