<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>OCR Styleguide :: Theme Colours</title>

    <!-- ***** CSS Import ***** -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/datatables.min.css" />
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../css/css-style.css" />
  </head>

  <body>
    <!-- ********** Page Body **********  -->
    <div class="c-pageBody">
      <!-- ********** Component :: Sidebar **********  -->
      <div class="c-sidebar">
        <div class="sidebarHead">
          <a href="javascript:void(0);" class="sidebarLogo">
            <img src="../images/logo.png" alt="alt" />
          </a>
        </div>
        <div class="c-pageNav js-customScroll">
          <ul>
            <li>
              <a href="./colors.html" class="navLink active">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Colour Theme</span>
              </a>
            </li>
            <li>
              <a href="./buttons.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Buttons</span>
              </a>
            </li>
            <li>
              <a href="./formFields.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Form Fields</span>
              </a>
            </li>
            <li>
              <a href="./table.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Tables</span>
              </a>
            </li>
            <li>
              <a href="./cards.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Cards</span>
              </a>
            </li>
            <li>
              <a href="./other.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Other</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ********** Component :: Sidebar End **********  -->

      <!-- ********** Component :: Header **********  -->
      <div class="c-header">
        <div class="row no-gutters">
          <div class="col-7">
            <div class="headerSect_l">
              <div class="c-pageTitle">OCR Frontend Styleguide</div>
            </div>
          </div>
        </div>
      </div>
      <!-- ********** Component :: Header End **********  -->

      <!-- ********** Component :: Wrapper **********  -->
      <div class="c-wrapper">
        <div class="container-fluid">
          <!-- *** First Row *** -->
          <div class="row align-items-center mb-20">
            <div class="col">
              <div class="rowHeading font-h">Theme Colours</div>
            </div>
          </div>
          <!-- *** First Row End *** -->

          <!-- ***** Graph Row 2 ***** -->
          <div class="row">
            <div class="col">
              <!-- ***** Primary Button Block ***** -->
              <div class="c-grapgContainer">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Primary Color</label>
                      <div class="colorDemo primary"></div>
                      <span class="colorCode">#057bfe</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Secondary Color</label>
                      <div class="colorDemo secondary"></div>
                      <span class="colorCode">#ffb233</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Font Color</label>
                      <div class="colorDemo font"></div>
                      <span class="colorCode">#171725</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Red Color</label>
                      <div class="colorDemo red"></div>
                      <span class="colorCode">#fe4b4b</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Green Color</label>
                      <div class="colorDemo green"></div>
                      <span class="colorCode">#0dce82</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Orange Color</label>
                      <div class="colorDemo orange"></div>
                      <span class="colorCode">#f19d38</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Primary Button Block End***** -->
            </div>
          </div>
          <!-- ***** Graph Row 2 End ***** -->
        </div>
      </div>
      <!-- ********** Component :: Wrapper End **********  -->
    </div>
    <!-- ********** Page Body End **********  -->

    <!-- ********** Scripts **********  -->
    <script src="../js/jquery-3.4.0.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/datatables.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
