<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>OCR Styleguide :: Theme Colours</title>

    <!-- ***** CSS Import ***** -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/css-style.css" />
  </head>

  <body>
    <!-- ********** Page Body **********  -->
    <div class="c-pageBody st-sidebarAlwaysOpen">
      <!-- ********** Component :: Sidebar **********  -->
      <div class="c-sidebar">
        <div class="c-pageNav">
          <ul>
            <li>
              <a href="./colors.html" class="navLink active">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Colour Theme</span>
              </a>
            </li>
            <li>
              <a href="./buttons.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Buttons</span>
              </a>
            </li>
            <li>
              <a href="./formFields.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Form Fields</span>
              </a>
            </li>
            <li>
              <a href="./table.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Tables</span>
              </a>
            </li>
            <li>
              <a href="./cards.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Cards</span>
              </a>
            </li>
            <li>
              <a href="./other.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Other</span>
              </a>
            </li>
            <li>
              <a href="./graphs.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Graphs</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ********** Component :: Sidebar End **********  -->

      <!-- ********** Component :: Header **********  -->
      <div class="c-header">
        <div class="row no-gutters">
          <div class="col-7">
            <div class="hs_left">
              <div class="headerSect_logo">
                <a href="javascript:void(0);" class="headerLogo">
                  <img src="../images/logo.png" alt="alt" />
                </a>
              </div>
              <div class="headerSect_l">
                <div class="c-pageTitle">OCR Product Styleguide</div>
              </div>
            </div>
          </div>
          <div class="col-5 text-right">
            <div class="headerSettings">
              <ul>
                <li class="themeSwitch">
                  <div class="c-switch">
                    <input
                      type="checkbox"
                      class="switchChk"
                      id="themeSwitch"
                      value="dark"
                    />
                    <label class="switchLbl" for="themeSwitch">
                      <div class="switchTrack"></div>
                    </label>
                  </div>
                </li>
                <li class="countryFlag">
                  <div class="c-dropdown dropdown">
                    <button
                      class="flagBtn dropdown-toggle"
                      type="button"
                      id="countrySelection"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <img src="../images/flags/india.svg" class="flag" />
                      <span class="country">IND</span>
                    </button>
                    <div
                      class="dropdown-menu c-notifyDropdown flagListDD"
                      aria-labelledby="countrySelection"
                    >
                      <div class="flagSearchHeader">
                        <div class="searchTxt">
                          <i class="icon ocrd-search"></i>
                          <input
                            type="text"
                            class="txtBox"
                            placeholder="Search"
                          />
                        </div>
                      </div>
                      <div class="flagSearchBody">
                        <ul>
                          <li>
                            <button class="selectBtn">
                              <div class="flagInfo">
                                <img
                                  src="../images/flags/india.svg"
                                  class="flag"
                                />
                                <span class="country">India</span>
                              </div>
                            </button>
                          </li>
                          <li>
                            <button class="selectBtn">
                              <div class="flagInfo">
                                <img
                                  src="../images/flags/japan.svg"
                                  class="flag"
                                />
                                <span class="country">Japan</span>
                              </div>
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="c-dropdown dropdown notifySetting">
                    <button
                      class="profileBtn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton3"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocrd-alarm"></i>
                      <span class="count">2</span>
                    </button>
                    <div
                      class="dropdown-menu c-notifyDropdown"
                      aria-labelledby="dropdownMenuButton3"
                    >
                      <div class="notifyHeading">
                        Notifications
                        <span class="c-badge primary sm">10</span>
                      </div>

                      <div class="notifyBody">
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="c-dropdown dropdown notifySetting">
                    <button
                      class="profileBtn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton3"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocrd-mail"></i>
                      <span class="count">2</span>
                    </button>
                    <div
                      class="dropdown-menu c-notifyDropdown"
                      aria-labelledby="dropdownMenuButton3"
                    >
                      <div class="notifyHeading">
                        Notifications
                        <span class="c-badge primary sm">10</span>
                      </div>

                      <div class="notifyBody">
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="userProf">
                  <div class="c-dropdown dropdown profileSetting">
                    <button
                      class="profileBtn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocrd-user"></i>
                    </button>
                    <div
                      class="dropdown-menu userDD st-clean with-icon"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <a class="dropdown-item" href="./04-userProfile.html">
                        <i class="icon ocrd-user"></i>
                        User Profile</a
                      >
                      <a class="dropdown-item" href="#">
                        <i class="icon ocrd-certificate"></i>
                        Subscription</a
                      >
                      <a class="dropdown-item" href="#">
                        <i class="icon ocrd-setting-wheel"></i>
                        Settings</a
                      >
                      <a class="dropdown-item" href="#">
                        <i class="icon ocrd-sign-out"></i>
                        Logout</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ********** Component :: Header End **********  -->

      <!-- ********** Component :: Wrapper **********  -->
      <div class="c-wrapper">
        <div class="container-fluid">
          <!-- *** First Row *** -->
          <div class="row align-items-center">
            <div class="col">
              <div class="c-pageHeading">Theme Colours</div>
            </div>
          </div>
          <!-- *** First Row End *** -->

          <!-- ***** Graph Row 2 ***** -->
          <div class="row">
            <div class="col">
              <!-- ***** Primary Button Block ***** -->
              <div class="c-dataContainer type-01">
                <div class="c-compHeading">Primary Colours</div>
                <div class="row mb-20">
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Primary Color</label>
                      <div class="colorDemo primary"></div>
                      <span class="colorCode">#057bfe</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Secondary Color</label>
                      <div class="colorDemo secondary"></div>
                      <span class="colorCode">#ffb233</span>
                    </div>
                  </div>
                </div>
                <div class="row mb-20">
                  <div class="col-12 mb-10">
                    <div class="graphHeading m0">Theme Colours</div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Theme Color - 1</label>
                      <div class="colorDemo theme-color-1"></div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Theme Color - 2</label>
                      <div class="colorDemo theme-color-2"></div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Theme Color - 3</label>
                      <div class="colorDemo theme-color-3"></div>
                    </div>
                  </div>
                </div>

                <div class="row mb-20">
                  <div class="col-12 mb-10">
                    <div class="graphHeading m0">Utility Colours</div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Font Color</label>
                      <div class="colorDemo font"></div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Alert</label>
                      <div class="colorDemo red"></div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Success</label>
                      <div class="colorDemo green"></div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group c-form">
                      <label class="formLbl">Warning</label>
                      <div class="colorDemo orange"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Primary Button Block End***** -->
            </div>
          </div>
          <!-- ***** Graph Row 2 End ***** -->
        </div>
      </div>
      <!-- ********** Component :: Wrapper End **********  -->
    </div>
    <!-- ********** Page Body End **********  -->

    <!-- ********** Scripts **********  -->
    <script src="../js/jquery-3.4.0.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script>
      $(function () {
        if (localStorage) {
          var theme = localStorage.getItem("theme");
          document.querySelector("body").classList.add("theme-" + theme);
        }
        // ----- Dropdown Settings
        $(document).on(
          "click",
          ".js-themeChanger .dropdown-menu .dropdown-item",
          function () {
            $(this)
              .parents(".js-themeChanger")
              .find(".dropdown-toggle .value")
              .text($(this).val());

            var selectedValue = $(this).val();
            var className = "theme-" + selectedValue;
            $("body").removeClass(function (index, className) {
              return (className.match(/(^|\s)theme-\S+/g) || []).join(" ");
            });
            document.querySelector("body").classList.add(className);
            if (localStorage) {
              localStorage.setItem("theme", selectedValue);
            }
          }
        );
      });
    </script>
  </body>
</html>
