<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>OCR Styleguide :: Cards</title>

    <!-- ***** CSS Import ***** -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/datatables.min.css" />
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../css/css-style.css" />
  </head>

  <body>
    <!-- ***** Setting Header Block ***** -->
    <div class="c-settingHeader">
      <div class="clearfix">
        <div class="row no-gutters">
          <!-- *** Left Side *** -->
          <div class="col">
            <div class="c-shList type-01">
              <ul>
                <li>
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      data-trigger="hover"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Demo - US
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown type-02 js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Module Title
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Features
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Reports
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Files
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown js-preventClick">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Tables
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- *** Left Side End *** -->

          <!-- *** right Side *** -->
          <div class="col">
            <div class="c-shList type-03 text-right">
              <ul>
                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-home lg"></i>
                  </button>
                </li>
                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-tachometer"></i>
                  </button>
                </li>
                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-bell sm"></i>
                  </button>
                </li>
                <li>
                  <!-- Example single danger button -->
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocr-cog sm"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="clearfix dropdown-item-accord">
                        <a
                          class="dropdown-item type-accord"
                          data-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
                          >Accord Link</a
                        >
                        <div
                          class="collapse multi-collapse"
                          id="multiCollapseExample1"
                        >
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocr-star sm"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon sm ocr-help-circled"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="btn-group c-shDropdown">
                    <button
                      type="button"
                      class="btn sh_linkBtn dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon sm ocr-book"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dd_search">
                        <input
                          type="text"
                          class="txt_search"
                          placeholder="Search"
                        />
                      </div>
                      <button class="dropdown-item" href="#">
                        Action
                      </button>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </li>

                <li>
                  <button class="sh_linkBtn">
                    <i class="icon ocr-sign-out"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- *** right Side End *** -->
        </div>
      </div>
    </div>
    <!-- ***** Setting Header Block End***** -->
    <!-- ********** Page Body **********  -->
    <div class="c-pageBody">
      <!-- ********** Component :: Sidebar **********  -->
      <div class="c-sidebar">
        <div class="sidebarHead">
          <a href="javascript:void(0);" class="sidebarLogo">
            <img src="../images/logo.png" alt="alt" />
          </a>
        </div>
        <div class="c-pageNav js-customScroll">
          <ul>
            <li>
              <a href="./colors.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Colour Theme</span>
              </a>
            </li>
            <li>
              <a href="./buttons.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Buttons</span>
              </a>
            </li>
            <li>
              <a href="./formFields.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Form Fields</span>
              </a>
            </li>
            <li>
              <a href="./table.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Tables</span>
              </a>
            </li>
            <li>
              <a href="./cards.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Cards</span>
              </a>
            </li>
            <li>
              <a href="./other.html" class="navLink active">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Other</span>
              </a>
            </li>
            <li>
              <a href="./graphs.html" class="navLink">
                <i class="icon ocr-plus-square"></i>
                <span class="linkText">Graphs</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ********** Component :: Sidebar End **********  -->

      <!-- ********** Component :: Header **********  -->
      <div class="c-header">
        <div class="row no-gutters">
          <div class="col-7">
            <div class="headerSect_l">
              <div class="c-pageTitle">OCR Frontend Styleguide</div>
            </div>
          </div>
        </div>
      </div>
      <!-- ********** Component :: Header End **********  -->

      <!-- ********** Component :: Wrapper **********  -->
      <div class="c-wrapper">
        <div class="container-fluid">
          <!-- *** First Row *** -->
          <div class="row align-items-center mb-20">
            <div class="col">
              <div class="rowHeading font-h">Javascript Based Components</div>
            </div>
          </div>
          <!-- *** First Row End *** -->

          <!-- *****  Row 2 ***** -->
          <div class="row">
            <div class="col">
              <!-- ***** Dark Cards Block ***** -->
              <div class="clearfix">
                <div class="c-compHeading mb-20">Tabs</div>
                <div class="c-tabs">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link active"
                        id="Details-tab"
                        data-toggle="tab"
                        href="#Details"
                        role="tab"
                        aria-controls="Details"
                        aria-selected="true"
                        >Tab 1</a
                      >
                    </li>
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                        >Tab 2</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div
                      class="tab-pane fade show active"
                      id="Details"
                      role="tabpanel"
                      aria-labelledby="Details-tab"
                    >
                      <div class="c-grapgContainer">
                        Tab 1 data
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="profile"
                      role="tabpanel"
                      aria-labelledby="Details-tab"
                    >
                      <div class="c-grapgContainer">
                        Tab 2 data
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Dark Cards Block End***** -->
            </div>
          </div>
          <!-- *****  Row 2 End ***** -->

          <!-- *****  Row 2 ***** -->
          <div class="row">
            <div class="col">
              <div class="c-compHeading mb-20">Graph Containers</div>
              <!-- ***** Graph Container Block ***** -->
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="c-grapgContainer type-01">
                    <div class="graphHeading">
                      <i class="icon ocr-flag"></i>
                      Section Heading
                    </div>
                    <div class="graphBody">
                      Data
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-12">
                  <div class="c-grapgContainer type-02">
                    <div class="graphHeading">
                      <i class="icon ocr-flag"></i>
                      Section Heading
                    </div>
                    <div class="graphBody">
                      Data
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-12">
                  <div class="c-grapgContainer type-03">
                    <div class="graphHeading">
                      <i class="icon ocr-cog"></i>
                      Section Heading
                    </div>
                    <div class="graphBody">
                      Data
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-12">
                  <div class="c-grapgContainer">
                    <div class="graphHeading">
                      Section Heading
                    </div>
                    <div class="graphBody">
                      Data
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Graph Container Block End***** -->
            </div>
          </div>
          <!-- *****  Row 2 End ***** -->
        </div>
      </div>
      <!-- ********** Component :: Wrapper End **********  -->
    </div>
    <!-- ********** Page Body End **********  -->

    <!-- ********** Scripts **********  -->
    <script src="../js/jquery-3.4.0.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/datatables.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
