<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>OCR Styleguide :: Cards</title>

    <!-- ***** CSS Import ***** -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/css-style.css" />
  </head>

  <body>
    <!-- ********** Page Body **********  -->
    <div class="c-pageBody st-sidebarAlwaysOpen">
      <!-- ********** Component :: Sidebar **********  -->
      <div class="c-sidebar">
        <div class="c-pageNav">
          <ul>
            <li>
              <a href="./colors.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Colour Theme</span>
              </a>
            </li>
            <li>
              <a href="./buttons.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Buttons</span>
              </a>
            </li>
            <li>
              <a href="./formFields.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Form Fields</span>
              </a>
            </li>
            <li>
              <a href="./table.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Tables</span>
              </a>
            </li>
            <li>
              <a href="./cards.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Cards</span>
              </a>
            </li>
            <li>
              <a href="./other.html" class="navLink active">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Other</span>
              </a>
            </li>
            <li>
              <a href="./graphs.html" class="navLink">
                <i class="icon ocrd-settings"></i>
                <span class="linkText">Graphs</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ********** Component :: Sidebar End **********  -->
      <!-- ********** Component :: Header **********  -->
      <div class="c-header">
        <div class="row no-gutters">
          <div class="col-7">
            <div class="hs_left">
              <div class="headerSect_logo">
                <a href="javascript:void(0);" class="headerLogo">
                  <img src="../images/logo.png" alt="alt" />
                </a>
              </div>
              <div class="headerSect_l">
                <div class="c-pageTitle">OCR Product Styleguide</div>
              </div>
            </div>
          </div>
          <div class="col-5 text-right">
            <div class="headerSettings">
              <ul>
                <li class="countryFlag">
                  <div class="c-dropdown dropdown">
                    <button
                      class="flagBtn dropdown-toggle"
                      type="button"
                      id="countrySelection"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <img src="../images/flags/india.svg" class="flag" />
                      <span class="country">IND</span>
                    </button>
                    <div
                      class="dropdown-menu c-notifyDropdown flagListDD"
                      aria-labelledby="countrySelection"
                    >
                      <div class="flagSearchHeader">
                        <div class="searchTxt">
                          <i class="icon ocrd-search"></i>
                          <input
                            type="text"
                            class="txtBox"
                            placeholder="Search"
                          />
                        </div>
                      </div>
                      <div class="flagSearchBody">
                        <ul>
                          <li>
                            <button class="selectBtn">
                              <div class="flagInfo">
                                <img
                                  src="../images/flags/india.svg"
                                  class="flag"
                                />
                                <span class="country">India</span>
                              </div>
                            </button>
                          </li>
                          <li>
                            <button class="selectBtn">
                              <div class="flagInfo">
                                <img
                                  src="../images/flags/japan.svg"
                                  class="flag"
                                />
                                <span class="country">Japan</span>
                              </div>
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="c-dropdown dropdown notifySetting">
                    <button
                      class="profileBtn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton3"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocrd-alarm"></i>
                      <span class="count">2</span>
                    </button>
                    <div
                      class="dropdown-menu c-notifyDropdown"
                      aria-labelledby="dropdownMenuButton3"
                    >
                      <div class="notifyHeading">
                        Notifications
                        <span class="c-badge primary sm">10</span>
                      </div>

                      <div class="notifyBody">
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="c-dropdown dropdown notifySetting">
                    <button
                      class="profileBtn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton3"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocrd-mail"></i>
                      <span class="count">2</span>
                    </button>
                    <div
                      class="dropdown-menu c-notifyDropdown"
                      aria-labelledby="dropdownMenuButton3"
                    >
                      <div class="notifyHeading">
                        Notifications
                        <span class="c-badge primary sm">10</span>
                      </div>

                      <div class="notifyBody">
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                        <a
                          class="dropdown-item c-notify"
                          href="javascript:void(0)"
                        >
                          <div class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                              <i class="icon ocrd-alarm"></i>
                            </div>
                            <div class="dropdown-notification-info">
                              <div class="title">
                                3 new customer account is created
                              </div>
                              <div class="time">2 minutes ago</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="userProf">
                  <div class="c-dropdown dropdown profileSetting">
                    <button
                      class="profileBtn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon ocrd-user"></i>
                    </button>
                    <div
                      class="dropdown-menu userDD st-clean with-icon"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <a class="dropdown-item" href="./04-userProfile.html">
                        <i class="icon ocrd-user"></i>
                        User Profile</a
                      >
                      <a class="dropdown-item" href="#">
                        <i class="icon ocrd-certificate"></i>
                        Subscription</a
                      >
                      <a class="dropdown-item" href="./04-userSettings.html">
                        <i class="icon ocrd-setting-wheel"></i>
                        Settings</a
                      >
                      <a class="dropdown-item" href="#">
                        <i class="icon ocrd-sign-out"></i>
                        Logout</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ********** Component :: Header End **********  -->

      <!-- ********** Component :: Wrapper **********  -->
      <div class="c-wrapper">
        <div class="container-fluid">
          <!-- *** First Row *** -->
          <div class="row align-items-center mb-20">
            <div class="col">
              <div class="c-pageHeading">Javascript Based Components</div>
            </div>
          </div>
          <!-- *** First Row End *** -->

          <!-- *****  Row 2 ***** -->
          <div class="row">
            <div class="col">
              <!-- ***** Dark Cards Block ***** -->
              <div class="clearfix">
                <div class="c-compHeading mb-20">Tabs</div>
                <div class="c-tabs">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link active"
                        id="Details-tab"
                        data-toggle="tab"
                        href="#Details"
                        role="tab"
                        aria-controls="Details"
                        aria-selected="true"
                        >Tab 1</a
                      >
                    </li>
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                        >Tab 2</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div
                      class="tab-pane fade show active"
                      id="Details"
                      role="tabpanel"
                      aria-labelledby="Details-tab"
                    >
                      <div class="c-grapgContainer">Tab 1 data</div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="profile"
                      role="tabpanel"
                      aria-labelledby="Details-tab"
                    >
                      <div class="c-grapgContainer">Tab 2 data</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Dark Cards Block End***** -->
            </div>
          </div>
          <!-- *****  Row 2 End ***** -->
        </div>
      </div>
      <!-- ********** Component :: Wrapper End **********  -->
    </div>
    <!-- ********** Page Body End **********  -->

    <!-- ********** Scripts **********  -->
    <script src="../js/jquery-3.4.0.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/datatables.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
